// COLORS **
$blueStrong: #304596;
$blueStrong02: #4558a1;
$blueStrong03: #596aab;
$blueStrong04: #6f7db6;
$blueStrong05: #838fc0;
$blueStrong06: #97a2ca;
$blueStrong07: #acb5d5;
$blueStrong08: #c0c7df;
$blueStrong09: #d6daea;
$blueStrong10: #eaecf4;

$blueLight: #5d70a8;
$blueLight02: #6e7fb1;
$blueLight03: #7d8db9;
$blueLight04: #8e9bc2;
$blueLight05: #9ea9cb;
$blueLight06: #aeb7d3;
$blueLight07: #bec6dc;
$blueLight08: #ced4e5;
$blueLight09: #dfe2ee;
$blueLight10: #eef0f6;

$orange: #db6432;
$orange02: #df7447;
$orange03: #e2835b;
$orange04: #e69370;
$orange05: #e9a284;
$orange06: #edb198;
$orange07: #f1c1ad;
$orange08: #f4d0c1;
$orange09: #f8e0d6;
$orange10: #fbefea;

$grey: #323435;
$grey02: #47494a;
$grey03: #5b5d5d;
$grey04: #707172;
$grey05: #848586;
$grey06: #98999a;
$grey07: #adaeae;
$grey08: #c1c2c2;
$grey09: #d6d6d7;
$grey10: #eaeaea;

$black: #000000;
$blanco: #ffffff;


//FONTS **
$light: 'gotham_lightregular';
$blackF: 'gotham_blackregular';
$bold: 'gotham_boldregular';
$regular: 'gotham_bookregular';
$medium: 'gotham_mediumregular';

$pt: 'PT Sans', sans-serif;

$roboto: 'Roboto', sans-serif;







